@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Amethysta&display=swap');

*{
    font-size: 16px;
    color: black;
}
html, body{
    background-color: #191102;
    margin: 0;
    height: 100vh;
    text-align: center;
    font-family: "Amethysta", serif;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    background-size: 100px 106px;
    position: relative;
    width: auto;
    height: 106px;
    padding-left: 148px; 
}
.sticky {
    position: sticky;
    top: 0;
    width: 100%;
}

.center {
    align-items: center;
}

#deliveryDiv {
    width: auto;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
}

.normal-text {
    font-size: xx-large;
}

.smaller-text {
    font-size: x-large;
}

.big {
    font-size: 70px;
}

.orange-bg {
    background-color: #874631;
}

.image-text-section {
    display: flex;
    flex-direction: row;
    background-color: #191102;
}
.image-text-section2 {
    display: flex;
    flex-direction: row;
    background-color: #510D0A;
}

.image-container,
.text-container {
    flex: 1;
    padding: 20px;

}
.text-container {
  text-align: left;
  padding-left: 220px;
    
}
.feedback-section {
    background-color: #191102;
    display: flex;
    flex-direction: row;
    
}
.feedback {
    align-items: center;
    text-align: center;
    left: 200px;   
}


.text-container1,
.text-container2 {
    flex: 1;
    padding: 20px;

}
.text-container2 {
  padding-left: 220px;
}

.leftAlign,
.rightAlign {
    width: 50%; 
    height: auto;
    box-sizing: border-box;
    padding: 10px;
}

.rightAlign {
    position: relative; 
    text-align: center; 
}

.rightAlign h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    width: 100%;
    font-size: large;
}

.row_right {
    position: inherit;
    position: absolute;
    bottom: -14px;
    height: 110px;
}

.leftCorner {
    position: absolute;
    top: 0;
    left: 0;
    width: 148px;
    height: 106px;
    cursor: pointer;
}
/* NAVIGATION BAR, VOIT VAIHTAA FIXED & ABSOLUTE*/

#username-text,
#log-out-button,
.topbar,
.CartNum,
.CartButton,
.HomeButton,
.MenuButton,
.HomeButton,
.CreateButton{
    position:absolute;
    
}
.topbar {
    background-color: #191102;
    width: 1920px;
    height:106px;
}
.CartNum {
    right:320px;
    top: 30px;
}
.CartButton{
    width:80px; 
    height:80px;
    right:340px;
    top:15px;
}
.CreateButton {
    top: 1;
    height: 110px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 40px;
    color: white;
}
.HomeButton {
    left: 0px;
    top: 0px;
    width: 148px;
    height: auto;
    cursor: pointer;

}
.MenuButton {
    color:white;
    font-size: 40px;
    top: -10px;
    left: 200px;
}
.CreateButton {
    color:white;
    font-size: 40px;
    top: -10px;
    left: 400px;
}
#log-out-button {
    color:white;
    background-color:rgb(173, 84, 10);
    border-radius: 50px;
    border: none;
    width: 125px;
    height: 35px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    right:62px;
    top:35px;

}
#username-text {
    color: white;
    font-size: large;
    width:250px;
    top:-15px;
    right:0px;
    
}
.header{
    background-image: url(https://recipesblob.oetker.fi/assets/935bd3d912cf4142a6e456a592f60551/1272x764/hurtig-og-nem-pizza-web.webp);
    background-repeat: no-repeat;
    background-position: 50% 60%;
    background-attachment: scroll;
    background-size: cover;
    height: 40vh;
    margin: 0;
    padding-top: 49vh;
}


.heading {
    position: absolute;
    left:750px;
    top:370px;
    color: #ffffff;
    width: 500px;
    height: 230px;
    border-radius: 50px;
    display: block;
    font-family: 'Amethysta', cursive;
    font-size: 6em;
    font-weight: normal;
    text-shadow: 0 0 10px #000;
}
.heading-subtext{
    color: #fff;
    display: block;
    font-family: 'Amethysta', cursive;
    font-size: .6em;
}
.headbox {
    position: absolute;
    background-color: #191102 ;
    opacity: 0%;
    width: 500px;
    height:250px;
    top:420px;
    left:752px;
    border-radius: 40px;
}
.pizzainfobox {
    
    background-color: #874631;
    display: block;
    margin-left: 40px;
    width: 300px;
    border: 2px solid black;
}
.fixed-button{
    background: rgba(20,20,20,.5);
    border-radius: 1em;
    bottom: 1em;
    color: white;
    font-weight: bold;
    padding: 1em;
    position: fixed;
    right: 1em;
    text-decoration: none;
    z-index: 9999;
}
.fixed-button::after{
    content: "\25BE";
    display: block;
    font-size: 28px;
    line-height: 0;
    margin-bottom: 6px;
    margin-top: 10px;
    text-align: center;
}
.fixed-button:active,
.fixed-button:hover{
    background: rgba(20,20,20,.9);
}
.section{
    margin: 0 auto;
    max-width: 600px;
    padding: 1em 2.4em;
}
.sub-heading{
    font-family: 'Amethysta', cursive;
    font-size: 3em;
    margin-top: 2em;
}
.details{
    margin: 0 auto 8em;
}
.details-heading{
    font-weight: bold;
    text-transform: uppercase;
}
.fas {
    font-size: 3em;
    opacity: .8;
}
.resort-image{
    width: 100%
}

.button_link {
    background-color: transparent;
    color: blue;
    border: 0px;
    cursor: pointer;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -76px 0 0 -76px;
    border: 16px solid transparent;
    border-top: 16px solid black;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1.5s linear infinite;
}
.pmenu {
    font-size: 40px;
}
.row2 {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
}
.pvalinta {
    color:black;
    font-weight: 600;

}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.pimg {
    flex: 1;
    padding: auto;
    width: auto;
    min-width: 50px;
}
.virhelahetys {
    color:rgb(255, 120, 57);
}

.rating {
    display: inline-block;
  }
  
  .rating input {
    display: none;
  }
  
  .rating label {
    font-size: 24px;
    color: #ddd;
    cursor: pointer;
    padding: 5px;
  }
  
  .rating label:before {
    content: "\2605";
  }
  
  .rating input:checked ~ label {
    color: #ffd700;
  }
  
  /* Rating Text Styles */
  .rating-text {
    margin-top: 10px;
    color: white;
    font-size: 16px;
  }
  
    

@media only screen and (max-width: 600px) {
    .heading {
        font-size: 4em;
    }
  }