*{
    font-size: x-large;
    color: black;
}

.normal {
    font-size: 16px;
}

.box {
    width: auto;
    height: auto;
}

#amount_text {
    color: white; 
    font-size: large; 
    line-height: 50%;
}