body, html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/PizzaTausta.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#log-in-button,
#register-button {
    background-size: 150px 48px;
    padding-left: 150px;
    padding-top: 40px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

#log-in-button {
    background-image: url(../img/Login_button.png);
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    background-position: center;
}

#register-button {
    background-image: url(../img/Register_button.png);
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    background-position: center;
}

.box {
    background-color: grey;
    width: auto;
    height: auto;
}

.button_link {
    background-color: transparent;
    color: blue;
    border: 0px;
    cursor: pointer;
}

p {
    color: darkred;
}